.carItem {
  width: 100px;
  height: 120px;
  margin: 0 auto;
  background-color: blueviolet;
  border-radius: 9px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
}

.container {
  padding: 40px;
  margin-top: 200px;
  min-height: 200px;
}
